*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/temp
/screenshots
/tools/android-sdk
/tools/downloads
/tools/flutter
/tools/java
/tools/flutter_sdk.zip
/vendor
/mobile_app/.dart_tool
/mobile_app/.idea
/mobile_app/build
/mobile_app/.flutter-plugins-dependencies
/mobile_app/android/.gradle
Homestead.json
Homestead.yaml
Thumbs.db
